@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

/* Colores */
@import "./assets/Colors/colors.css";
@import "./assets/Colors/colors-button.css";

/* Fuentes */
@import "./assets/fonts/poppins.css";
